body{
    background: #F3EFEA;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
}

li{
    margin: 0;
    list-style: none;
}

ul{
    margin: 0;
    padding: 0;
}

h1{
    color: #57463A;
    font-family: Tenor Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin: 0;
}
p{

}
h2{
    color: #57463A;
    font-family: Tenor Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin: 0;
}
.aboutMainContainer{
    margin:0;
    margin-top: 120px;
    margin-left: 140px;
    margin-right: 140px;
}
.aboutMainContainer h1{
    text-align: center;

}
.aboutMainContainer h2{
    text-align: center;
    margin: 0;
    margin-top: 20px
}

.aboutMainContainer img{
    display: flex;
    margin: 0;
    margin-top: 40px;
    width: 1160px;
    height: 536.5px;
}

.aboutMainTextContainer{
    margin-top: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.aboutMainTextContaine div{
    text-align: center;
    flex-direction: column;
}
.aboutMainTextContainer h2{
    text-align: center;
}
.aboutMainTextContainer p{
    margin: 0;
    margin-top:20px;
    color: #000;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.secondAboutContainer{
    margin-top: 160px;
    margin-left: 140px;
    margin-right: 140px;
}
.secondAboutContainer h2{
    color: #000;
    font-family: Tenor Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.secondAboutContainer h3{
    color: #000;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: 20px;
}
.secondAboutContainer p{
    color: #000;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: 70px;
}
.secondAboutContainerGrid{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 40px;
}
.thirdAboutContainer{
    margin-top: 160px;
    margin-left: 140px;
    margin-right: 140px;
    
}
.thirdAboutContainer p{
    color: #323232;
    text-align: right;
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    margin-top: 70px;
}
.fourthAboutContainer{
    margin-top: 160px;
    margin-left: 140px;
    margin-right: 140px;
}

.fourthAboutContainer p{
    display: flex;
    color: #323232;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin: 0;
    margin-top:20px
}

.fourthAboutContainer h2{
    display: flex;
}

.fourthAboutContainerImg{
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    text-align: center;
    margin-top: 100px;
    align-items: start;
    justify-content: space-between;
}

.FifthAboutContainer{
    margin-top: 160px;
    margin-left: 140px;
    margin-right: 140px;
    margin-bottom: 240px;
    text-align: center;
}
.FifthAboutContainer h2{
    display: flex;
}
.FifthAboutContainer button{
    margin-top:100px;
    width: 245px;
    height: 60px;
    flex-shrink: 0;
    background: #A1B29F;
    color: #F6F6F6;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    border:none;
}