
.headerContainer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 138px;
    border-bottom: 1px solid black;
    align-items: center;
    justify-items: center;
} 
.ulContainer{
    display: flex;
}
.logo{
}
.el{
    text-decoration: none;
    color: #323232;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-right: 60px;
}
