body{
    background: #F3EFEA;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
}
li{
    margin: 0;
    list-style: none;
}

ul{
    margin: 0;
    padding: 0;
}
.mainContainer{
    display: grid;
    grid-template-columns: auto  1fr;
    border-bottom: 1px solid black;
    height: 774px;
}

.textStyle{
    font-size: 18px;
    font-family: Open Sans;
    font-weight: 300;
    color: #323232;
    margin: 0;
}
.smallTextStyle{
    margin: 0;
    color: #F6F6F6;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
}

.bigTextStyle{
    font-family: Tenor Sans;
    font-size: 48px;
    font-weight: 400;
    color: #57463A;
    margin: 0;
}


.middleTextStyle{
    font-family: Tenor Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    color: #57463A;
    margin: 0;
}

.middleTextStyleOpenSans{
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    color: #57463A;
    margin: 0;
}

.textContainer{
    margin-top: 198px;
    margin-left: 40px;
}
.ButtonStyle{
    border: none;
    background: #A1B29F;
    width: 245px;
    height: 60px;
    color:#F6F6F6;
    font-size: 16px;
    font-family: Open Sans;
    font-weight: 400;
}
.socialContainer{
    margin-left: 410px;
    margin-top: 94px;
}
.socialElement{
    margin-left: 40px;
}

.secondContainer{
    margin-left: 140px;
    margin-top: 160px;
    margin-right: 140px;
}
.secondContainerGrid{
    display: grid;
    grid-template-columns: 360px 360px 360px;
    grid-gap: 40px;
    margin-top: 100px;
    text-align: center;
}

.thirdContainer{
    margin-left: 140px;
    margin-top: 160px;
    margin-right: 140px;
}
.thirdContainerGrid{
    display: grid;
    grid-template-columns: 290px 290px 290px 290px;
    grid-template-rows: 250px 250px;
    margin-top: 100px;
}
.border_style{
    border-bottom: 3px solid #57463A;
}
.border_style2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
}
.fourthContainer{
    margin-top: 160px;
}
.fourthH2{
    margin-top: 200px;
    margin-left: 140px;
}
.fourthContainerGrid{
    display: grid;
    grid-template-columns: auto 1fr;
    height: 475px;
    background: #EBEEEB;
    margin-top: 100px;
}
.textFourthContainer{
    margin-top: 40px;
    margin-left: 40px;
}
.marginForTop40{
    margin-top: 40px
}
.marginForTop17{
    margin-top: 17px
}
.marginForTop70{
    margin-top: 70px
}
.marginForTop110{
    margin-top: 110px
}
.marginForTop55{
    margin-top: 55px
}
.videoStyle{
    margin-top: 100px;
    display: flex;
    width: 1160px;
    height: 700px;
    flex-shrink: 0;
    background: #C4C4C4;
}
.fifthContainerGrid{
    display: grid;
    grid-template-columns: auto 1fr;
    background: #E3DACE;
    height: 535px;
    margin-top: 100px;
}
.fifthContainerGridV2{
    display: grid;
    grid-template-columns: auto 1fr;
    background: #D4CDC3;
    height: 535px;
    margin-top: 0px;
}
.textFifthContainer{
    margin-left: 40px;
}

.borderStyle1{
    border: 7px solid #A1B29F;
}
.borderStyle2{
    border: 1px solid #715B4B;
    margin: 7px;
}
.textCon2{
    text-align: center;
    margin-top: 90px;
}
.textContainer3{
    margin-left: 95px;
    margin-right: 95px;
    margin-top: 40px;
}
.containerMain4{
    margin: 200px 140px 210px 140px;
}
.imgBigLogo{
    margin-left: 920px;
    margin-top: 0;
    margin-bottom: 40px;
}