body{
    background: #F3EFEA;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
}

li{
    margin: 0;
    list-style: none;
}

ul{
    margin: 0;
    padding: 0;
}

h1{
    margin: 0;
}

.masterContainer{
    background-image: url("./images/master-class/masterMain.png");
    width: 1440px;
    height: 601px;
    text-align: center;
    margin: 0;
}


.masterContainer h1{
    padding-top: 268px;
    color: #F6F6F6;
    font-family: Tenor Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
}

.buttonMaster{
    width: 328px;
    height: 60px;
    flex-shrink: 0;
    background: #F6F6F6;
    color: #4C6D77;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    border: none;
    margin-top: 97px;
}

.beforeAfterContainer{
    margin-top: 160px;
    margin-left: 140px;
    margin-right: 140px;
    text-align: center;
}

.beforeAfterContainer h2{
    display: flex;
    font-family: Tenor Sans;
    font-size: 48px;
    font-weight: 400;
    color: #57463A;
    margin: 0;
}

.beforeAfterContainerGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 40px;
    row-gap: 50px;
    text-align: center;
    align-items: end;
    margin-top: 100px;
}

.beforeAfterContainerGrid p{
    margin: 0;
    margin-top: 25px;
    color: #323232;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.beforeAfterButton{
    width: 328px;
    height: 60px;
    flex-shrink: 0;
    background: #A1B29F;
    color: #F6F6F6;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    border: none;
    margin-top: 90px;
}

.circleContainer{
    margin: 0;
    margin-top: 100px;
    display: flex;
    margin-left: 314px ;
}

.line{
    position: absolute;
    height: 643px;
    width: 1px;
    background-color: #C4C4C4;
    margin-top: 60px;
    margin-left: 30px;
    z-index: 1;
}

.circleContainer ul{
    display: flex;
    flex-direction: column;
    gap: 57px;
    position: relative;
}

.circleContainer li {
    display: flex;
    gap: 45px;
    align-items: center;
    z-index: 2;
}

.circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #A1B29F;
    color: #F6F6F6;
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}

.secondMasterContainer p{
    color: #000;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
}

.secondMasterContainer h2 {
    font-family: Tenor Sans;
    font-size: 48px;
    font-weight: 400;
    color: #57463A;
    margin: 0;
}

.secondMasterContainer {
    margin-left: 140px;
    margin-top: 160px;
}
.thirdMasterContainer{
    background-image: url("./images/master-class/woodBackground.png");
    width: 1440px;
    height: 508px;
    text-align: center;
    margin: 0;
    margin-top: 160px;
}

.thirdMasterContainer h2{
    padding-top: 182px;
    color: #F6F6F6;
    font-family: Tenor Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
}
.fourthMasterContainer{
    margin: 0;
    margin-top: 160px;
    margin-left: 140px;
    margin-right: 140px;
}
.fourthMasterContainer h2{
    font-family: Tenor Sans;
    font-size: 48px;
    font-weight: 400;
    color: #57463A;
    margin: 0;
}
.fourthMasterContainerGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    margin-top: 100px;
    text-align: center;
}
.fourthMasterContainerGrid p {
    color: #323232;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    margin: 0;
    margin-top: 20px;
}
.fifthMasterContainerGrid{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 24px;
    margin-top: 100px;
}
.fifthMasterContainerGrid h2{
    font-family: Tenor Sans;
    font-size: 48px;
    font-weight: 400;
    color: #57463A;
    margin: 0;
    margin-left: 140px;
}
.fifthMasterContainerGrid p{
    margin-top: 100px;
    color: #000;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    margin-left: 140px;
}
.fifthMasterContainerGrid button{
    margin-left: 140px;
    margin-top: 50px;
    margin-bottom: 322px;
}
.buttonMore{
    width: 245px;
    height: 60px;
    flex-shrink: 0;
    background: #A1B29F;
    border: none;
    color: #F6F6F6;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}
.fifthMasterContainerGrid img{
    width: 469px;
    height: 475px;
    flex-shrink: 0;
    background: #C4C4C4;
    margin-right: 140px;
}