body{
    background-color: #F3EFEA;
    font-family: 'Open Sans', sans-serif;
    color: #323232;
    font-size: 16px;
}
*{
    margin: 0;
    padding: 0;
}
button{
    color: #F6F6F6;
    background-color: #A1B29F;
    border: 0;
    width: 245px;
    height: 60px;
    cursor: pointer;
    font-weight: 700;
}
button:hover{
    background-color: #A1C59F;
}
a{
    text-decoration: none;
    color: #323232;
}
header{
    border-bottom: black 1px solid;
    height: 150px;
}
.container{
    padding-left: 133px;
    padding-right: 133px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.nav-list{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.nav-list li:first-child{
    margin-right: 82px;
}
.nav-list li:last-child{
    margin-left: 82px;
}
.navigation{
    height: 100%;
}
.navigation a{
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
}
.logo{
    width: 87px;
    height: 87px;
    margin-left: 270px;
    margin-right: 270px;
}
h1,h2{
    color: #57463A;
}

.overview-history{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.overview-history h1,h2{
    font-family: 'Tenor Sans', sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
}
.overview-history h1{
    margin-top: 120px;
}
.overview-history h2{
    margin-bottom: 40px;
}
.overview-history-img{
    width: 100%;
    margin-bottom: 160px;
}
.overview-history img{
    width: 100%;
}
.achievements{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.achievement h1{
    font-family: 'Tenor Sans', sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
}
.achievement p{
    font-size: 16px;
    line-height: 24px;
}
.overview-founder{
    margin-top: 160px;
    display: flex;
    flex-direction: row;
}
.overview-founder-img{
    margin-right: 40px;
}
.overview-founder-description h1{
    color: black;
    font-size: 24px;
    line-height: 36px;
    font-family: 'Tenor Sans', sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
}
.job-title{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 70px;
}
.history{
    color: black;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: 'Tenor Sans', sans-serif;
}

.overview-philosophy{
    margin-top: 160px;
}
.overview-philosophy h1{
    font-family: 'Tenor Sans', sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
    margin-bottom: 70px;
}
.overview-philosophy p{
    text-align: right;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    width: 100%;
}
.overview-smi h1{
    font-family: 'Tenor Sans', sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
    margin-top: 160px;
    margin-bottom: 20px;
}
.overview-smi p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 100px;
}
.smi-img{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.smi-img div:not(:last-child){
    margin-right: 20px;
}

.overview-feedback{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.overview-feedback h1{
    font-family: 'Tenor Sans', sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
    margin-top: 160px;
    margin-bottom: 100px;
    align-self: flex-start;
}


footer{
    margin-top: 210px;
    background-color: #715B4B;
    color: #F6F6F6;
}
.footer{
    height: 380px;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
}
.info{
    display: flex;
    flex-direction: column;
}
.info:not(:first-child){
    white-space: nowrap;
}
.info:first-child{
    width: 248px;
    margin-right: 1%;
}
.info:nth-child(2){
    margin-right: 5%;
}
.info:nth-child(3){
    margin-right: 13%;
}
.info:nth-child(4){
    margin-right: 5%;
}
footer a{
    color: #F6F6F6;
}
.footer-links{
    display: flex;
    flex-direction: row;
}
.footer-links a:not(:last-child){
    margin-right: 18px;
}


@media (max-width:391px) {
    header{
        border: 0;
    }
    .container{
        padding-left: 40px;
        padding-right: 40px;
    }
    button{
        width: 300px;
    }
    .navigation{
        display: none;
    }
    .overview-history{
        flex-direction: column;
    }
    .overview-history h1,h2{
        font-size: 32px;
        text-align: left;
        line-height: 48px;
    }
    .overview-history-img{
        margin-bottom: 30px;
    }
    .achievements{
        flex-direction: column;
    }
    .achievement{
        margin-top: 40px;
    }
    .achievements h1{
        margin-top: 0;
        font-size: 32px;
        line-height: 48px;
        text-align: left;
    }
    .overview-founder{
        display: flex;
        flex-direction: column;
        margin-top: 90px;
    }
    .overview-founder-img{
        margin-right: 0;
    }
    .overview-founder-img img{
        width: 100%;
        margin-bottom: 60px;
    }
    .overview-philosophy{
        margin-top: 90px;
    }
    .overview-philosophy h1{
        font-size: 32px;
        line-height: 48px;
    }
    .overview-philosophy p{
        font-size: 16px;
    }
    .overview-smi h1{
        font-size: 32px;
    }
    .overview-smi p{
        width: 90%;
    }
    .smi-img{
        display: none;
    }
    .overview-feedback h1{
        font-size: 32px;
    }
    .footer{
        flex-direction: column-reverse;
        justify-content: left;
        align-items: left;
        padding-bottom: 100px;
    }
    .info{
        width: 100%;
        text-align: left;
    }
    .info:first-child{
        width: 100%;
        order: 1;
    }
    .info:nth-child(2){
        margin-right: 0;
        order: 4;
    }
    .info:nth-child(3){
        margin-right: 0;
        order: 3;
    }
    .info:nth-child(4){
        margin-right: 0;
        margin: 40px 0 32px 0;
        margin-top: 20px;
        order: 2;
    }
    .info:nth-child(5){
        margin: 40px 0 32px 0;
        order: 5;
    }
}